<%= form_for [main_app, :refinery_admin, @raw_video], :html => { :method => :post, :multipart => true } do |f| -%>
  <%= render :partial => "/refinery/admin/error_messages", :locals => {
          :object => @raw_video,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.file_field :file, :multiple => (true unless @raw_video.persisted?) %>
  </div>
  
  <div class='field'>
    <%= f.label :poster_image %>
    <%= render :partial => "/refinery/admin/image_picker", :locals => {:f => f, :field => :id, :image => @raw_video.poster_image } %>
  </div>
  
  <%= render :partial => "/refinery/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'refinery.videos.video'),
                :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => 'hi')
              } %>
<% end -%>
