<% content_for :stylesheets do %>
<%= stylesheet_link_tag "refinery/admin/upload_progress" %>
<% end %>
<% content_for :javascripts do %>
<%= javascript_include_tag "refinery/admin/videos" %>
<script type="text/javascript">
  $(function() {
    $('form').uploadProgress({
  		jqueryPath: '<%= asset_path "jquery.js" %>',
  		uploadProgressPath: '<%= asset_path "jquery.uploadProgress.js" %>',
  		uploading: function(upload) {
  		  $('#percents').html(upload.percents+'%');
  		},
  		progressBar: "#progressbar",
  		progressUrl: '<%= Refinery::Videos::Options.upload_progress_uri %>',
  		interval: 2000,
  		dataType: 'json'
    });
  });
</script>
<% end %>
<%= render :partial => "form" %>

<div id="progress" class="bar">
  <div id="progressbar">&nbsp;</div>
  <div id="percents"></div>
</div>
